body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0fff0;
    color: #333;
    line-height: 1.6;
  }header {
background: #ffffff;
color: rgb(0, 0, 0);
text-align: center;
padding: 60px 20px;
position: relative;
z-index: 2;
}

header h1 {
font-size: 2.5em;
margin: 0;
}

header p {
font-size: 1.2em;
}

#video-bg {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
z-index: 1;
opacity: 0.4;
}

main {
max-width: 1000px;
margin: 30px auto;
padding: 20px;
background: white;
border-radius: 10px;
position: relative;
z-index: 2;
box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

section {
margin-bottom: 40px;
}

section h2 {
color: #005804;
font-size: 1.8em;
margin-bottom: 10px;
}

.highlight {
background-color: #e6f9e6;
padding: 15px;
border-left: 5px solid #388e3c;
margin-top: 20px;
border-radius: 5px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #000000;
  color: #f7fff7;
  font-size: 0.9em;
  margin-top: 40px;
  border-radius: 10px 10px 0 0;
}

a {
color: #1b5e20;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

/* Carrossel */
.carousel {
display: flex;
overflow-x: auto;
gap: 20px;
scroll-behavior: smooth;
margin: 20px 0;
}

.carousel img {
height: 200px;
border-radius: 10px;
transition: transform 0.3s ease-in-out;
}

.carousel img:hover {
transform: scale(1.05);
}



nav {
  background-color: rgba(9, 117, 18, 0.9);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #e4ffe6;
  font-weight: bold;
  transition: transform 0.3s;
}

nav a:hover {
  transform: translateY(-4px);
}

.imagem-responsiva {
  max-width: 100%;
  height: auto;
  display: block;
}
